body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: transparent;
  backdrop-filter: none;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f2c94c;
}
.background {
  position: fixed;
  inset: 0;
  background-image: url('images/default1.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  filter: blur(1px) brightness(0.4);
  z-index: -1;
  transition: background-image 0.4s ease;
}

.content {
  display: flex;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.movie-info {
  flex: 1;
  color: white;
  padding: 40px;
}
.movie-info h2{
  font-size: 40px;
  margin-top:180px;
}
.movie-info p{
  font-size: 20px;
  margin-top: -15px;
}
.movie-details {
  color: white;
  max-width: 600px;
  animation: fadeIn 0.5s ease;
  margin-top: 120px; 
}

.movie-title {
  font-size: 3.2rem; 
  font-weight: bold;
  margin-bottom: 12px;
}

.movie-meta {
  font-size: 1.1rem; 
  color: #ccc;
  margin-bottom: 20px;
}

.movie-description {
  font-size: 1.2rem; 
  line-height: 1.6;
  margin-bottom: 25px;
}

.movie-actions button {
  font-size: 1rem;
  padding: 12px 20px;
}
.like-btn{
  background:none;
  border:none;
  font-size: 3rem;
  color: white;
  cursor:pointer;
  outline:none;
}
.like-btn.liked{
  transform:scale(2);
  color:red;
}

.stream-btn{
  background-color: #d2d2d2;
  color: black;
  border:none;
  border-radius: 25px;
  padding:12px 22px;
  font-weight: bold;
  cursor:pointer;
}
.stream-btn:hover{
  color:white;
  background-color: black;
}

.carousel {
  position: absolute;
  bottom: 20px;
  right: 70px;
  display: flex;
  gap: 16px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  max-width: 448px;
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow-x: visible;
  z-index:2;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.card {
    min-width: 100px;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 100px;
  flex-shrink: 0;
}

.card:hover {
  transform: scale(2.5);
  z-index:2;
  margin-bottom: 80px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

